<form class="property-form">

  <mat-form-field>
    <input autofocus matInput placeholder="Property Name" aria-label="Property Name" [matAutocomplete]="auto" [formControl]="propertyCtrl">

    <mat-autocomplete #auto="matAutocomplete" autoActiveFirstOption>

      <mat-option *ngFor="let property of filteredProperties | async" [value]="property.name" (onSelectionChange)="onEnter($event)">
        <span>{{property.name}} | </span>
        <small>{{property.description}} | </small>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <div *ngFor="let range_item of (this.property$ | async)?.property_range">
    <div [ngSwitch]="range_item">
      <div *ngSwitchCase="'string'">
        <mat-form-field>
          <h1>STRING</h1>
          <input #propVal="ngForm" matInput placeholder="Property Value" aria-label="Property Value" [formControl]="propertyValueCtrl" >
        </mat-form-field>
      </div>
      <div *ngSwitchDefault>
        <app-item-completer [typeId]="range_item"></app-item-completer>
      </div>
  </div>
  </div>
</form>
