<div *ngIf="type$ else loading">
<h1>{{ (type$ | async)?.name }}</h1>
<p>Description: <i>{{(type$ | async)?.description}}</i>

<table>
  <thead>
    <th>Property Name</th>
    <th>Description</th>
    <th>Data Type</th>
  </thead>
  <tbody>
    <tr *ngFor="let property of (type$ | async)?.properties">
      <td>{{property.name}}</td>
      <td>{{property.description}}</td>
      <td>{{property.datatype}}</td>
    </tr>
  </tbody>
</table>

<button mat-raised-button (click)="instantiate()">Instantiate</button>
</div>

<ng-template #loading>
    <p>Loading...</p>
</ng-template>

